@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Spacerush</h1>
    <p>By continuing on to manage your account, you accept that session cookies are required so that you do not have to authenticate (log in) on every page.</p>
    <a href="@Url.Action("Index", "Account")">Manage your account</a>
</div>
