@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Spacerush</h1>
    <p>A session cookie is required if you choose to play or manage your account using this website.</p>
    <a href="@Url.Action("Index", "Account")">Manage your account</a>
</div>
