@{
    ViewData["Title"] = "Log in to your account";
}
<h1>Log In</h1>
<div class="row">
    <div class="col-md-12">
        <form method="post" action="@Url.Action("DoLogin", "Account")">
            <label for="spusername">
                Type desired username:
                <input type="text" value="" id="spusername" name="spusername" />
            </label>
            <label for="sppassword">
                Type desired password:
                <input type="password" vale="" id="sppassword" name="sppassword" />
            </label>
            <button type="submit" class="btn btn-primary" value="Login">Log In</button>
        </form>
    </div>
</div>
