@model SpacePlanetsMvc.Models.WebViewModels.DoLoginModel

@{
    ViewData["Title"] = "Log in to your account";
}
<h1>Log In</h1>
<div class="row">
    <div class="col-md-12">
        <p>@Model.Message</p>
        <a href="@Url.Action("Index", "Account")">Manage account</a> ::
        <a href="@Url.Action("Logout", "Account")">Log out of this account</a>
    </div>
</div>
