<div class="row">
    <div class="col-md-12">
        <h2>Logged Out</h2>
        <p>You are now logged out. You can <a href="@Url.Action("Index", "Home")"> return to the homepage</a> if you want.</p>
    </div>
</div>